html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, thead, tr, th, td { margin: 0pt; padding: 0pt; border-width: 0pt; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; }
body { line-height: 1.5em; }
th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
a img { border-width: 0pt; }
body { font-size: 75%; color: #000000; background-color: #FFFFFF; font-family: "Arial", "Helvetica", "sans-serif"; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #000000; }
h1 { font-size: 3em; line-height: 1em; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.2em; line-height: 0.2em; margin-bottom: 1.25em; margin-top:0.5;}
h4 { font-size: 1.2em; line-height: 1em; margin-bottom: 0.4em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0pt; }
p { margin: 0pt 0pt 1.5em; }
p img.left { float: left; margin:1.5em 1.5em 1.5em 0pt; padding: 0pt; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
a { color: #000099; text-decoration: underline; }
blockquote { margin: 1.5em; color:#000000; font-style: italic; }
strong { font-weight: bold; }
em { font-style: italic; }
sup, sub { line-height: 0pt; }
pre { margin: 1.5em 0pt; white-space: pre; }
pre, code {font-size: 1em; font-family: 'lucida console', monospace; line-height: 1.5em; }
li ul, li ol { margin: 0pt 1.5em; }
ul, ol { margin: 0pt 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin:0pt 0pt 1.5em; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom: 1.4em; width:100%; }
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
.small { font-size: 0.8em; margin-bottom: 1.875em; line-height:1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.highlight { background: #ff0; }
.first { margin-left: 0pt; padding-left: 0pt; }
.last { margin-right: 0pt; padding-right:0pt; }
.top { margin-top: 0pt; padding-top: 0pt; }
.bottom { margin-bottom: 0pt; padding-bottom:0pt; }
label { font-weight: bold; }
fieldset { padding: 1.4em; margin: 0pt 0pt 1.5em; border: 1px solid #CCCCCC; }
input.text, input.file, input.password, textarea, select { margin: 0.5em 0pt; border: 1px solid #CCCCCC;}
textarea { width: 390px; height: 250px; padding:5px; }
.container { width: 950px; margin: 0pt auto; padding-left: 10px; }
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 { float: left; margin-right: 10px; }
.last, div.last { margin-right: 0pt; }
.span-24, div.span-24 { width: 950px; margin: 0pt; }
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 { border-left-width: 1px !important; border-right-width: 1px !important; padding-left: 5px !important; padding-right: 5px !important; }
div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #EEEEEE;}
div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #EEEEEE; }
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 { float: left; position: relative; }
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 { float: right; position: relative; }
.prepend-top { margin-top: 1.5em; }
.append-bottom { margin-bottom: 1.5em; }
.box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }
hr { background: #DDDDDD; color:#DDDDDD; clear: both; float: none; width: 100%; height: 0.1em; margin: 0pt 0pt 1.45em; border-width: 0pt; }
hr.space { background: #FFFFFF; color: #FFFFFF; }
.clearfix:after, .container:after { display: block; height: 0pt; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
.clear { clear: both; }
.hidden { display: none; }
.visible { display: block; }
.visible-inline { display: inline; }
.center { text-align: center; }

.form-input-text { padding: 4px; border: 1px solid #BA9B94; }
.form-input-textarea { padding: 4px; border: 1px solid #BA9B94; }
.form-input-submit { padding: 10px 14px; border: 1px solid #754030; font-weight: bold; margin: 10px 0px 0px; }
.row { margin: 0px 0px 2px 0px; }
.size-16 { width: 630px; }
.label-16 { float: left; width: 169px; padding: 4px 0px; font-size: 14px; }
.element-16 { float: right; text-align: left; width: 419px; }
.input-16 { width: 400px; }
.size-20 { width: 790px; }
.label-20 { float: left; width: 224px; padding: 4px 0px; font-size: 14px; }
.element-20 { float: right; text-align: left; width: 564px; }
.input-20 { width: 550px; }
